<div class="chart-container">
  <canvas #linearMortgageChart width="400" height="400"></canvas>
</div>

<ul>
  <li *ngFor = "let payment of mortgageMonthlyPredictions$ | async">
    {{ payment.monthTitle }} |
    monthly payment: {{ payment.totalToPayThisMonth | currency:'EUR'}} |
    redemption: {{ payment.monthlyRedemptionPayment | currency:'EUR'}} |
    rent: {{ payment.monthlyRentPayment | currency:'EUR'}} |
    still to pay: {{ payment.totalCapitalStillToPay | currency:'EUR' }} |
    extra redemption: {{ payment.extraRedemptionPaymentThisMonth | currency:'EUR' }}
  </li>
</ul>
